<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @greeting %>, <%= @user.name %></h1>
    <p>
      Ha habido una modificación en una o mas de las licitaciones que tienes guardadas
    </p>
    <p>

    </p>
    <p><%= @message %></p>
  </body>
</html>
