# nginx config file for serving as gzip. It assumes that nginx.conf already has
# enabled gzip (otherwise nginx -t will fail)

gzip_vary on;
gzip_proxied any;
gzip_comp_level 9;
gzip_buffers 16 8k;
gzip_http_version 1.1;
gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
