##
## as configured, capistrano will deploy to
## /home/ENV['CHILECOMPRA_RAILS_DEPLOY_USER']/apps/ENV['CHILECOMPRA_RAILS_APP_NAME']
## (Which we'll call $DEPLOY_DIR)
## And that directory will have the folders:
# .
# ├── current 
# ├── releases
# ├── repo
# └── shared

## This file should be located in /etc/nginx/sites-enabled/default
## Your needs may differ though!

upstream api {
  server unix:///$DEPLOY_DIR/shared/tmp/sockets/$CHILECOMPRA_RAILS_APP_NAME-puma.sock;
}

server {
  listen 80 default_server;
  listen [::]:80 default_server;
  # server_name example.com;
  # redirects to ssl domain
  server_name $DOMAIN_NAME.TLD $WWW.DOMAIN_NAME.TLD;
  return 301 https://$server_name$request_uri;
}

server {
  # ssl_config
  listen 443 ssl default_server;
  listen [::]:443 ssl default_server;
  include snippets/ssl-$DOMAIN_NAME.TLD.conf;
  include snippets/ssl-params.conf;

  # The directory with your HTML/CSS/JS files
  root /home/$DEPLY_USER/dist;

  index index.html index.htm index.nginx-debian.html;
  server_name _;

  # The proxy.
  location /api {
    # Removes /api then redirects to the upstream server (in this case puma)
    rewrite ^/api(/?)(.*) /$2 break;
    proxy_pass http://api;
  }

  location / {
    # If URI is not found, serve index.html => allows us to use React-router to
    # display a 404.
    try_files $uri $uri/ /index.html;
  }

  #needed for lets encrypt ssl
  location ~/.well-known {
            allow all;
    }
}
















