## This allows you to boot puma automatically 
## as a daemon in case the server restarts/etc

## This file should be located in /etc/systemd/system/puma.Service
## Then enabled with sudo systemctl enable puma

[Unit]
Description=Puma Control
After=network.target

[Service]
Type=oneshot
User=your_user_name
RemainAfterExit=yes

Environment=CC_API_DB_PASSWORD=the_dbs_password
Environment=CC_API_DB_USERNAME=the_db_username
Environment=SECRET_KEY_BASE=as_given_by_rake_secret
Environment=RAILS_ENV=production
Environment=CC_TOKEN=the_chilecompra_api_key
Environment=MAILGUN_API_KEY=the_mailgun_api_key
Environment=MAIL_DOMAIN=mail_domain_in_dns_settings
Environment=CC_DEFAULT_CONFIRM_SUCCESS_URL=url_to_redirect_on_email_success

ExecStart=path_to_bash_script_that_starts_puma
ExecStop=path_to_bash_script_that_stops_puma

[Install]
WantedBy=multi-user.target
